.sk1_skeleton {
    padding: 5px;
    width: 80%;
    background: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);

}

.sk1_skeleton .sk1_square {
    height: 40px;
    border-radius: 5px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-squares 2s infinite ease-out;
}

.sk1_skeleton .sk1_line {
    height: 20px;
    margin-bottom: 3px;
    border-radius: 2px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
}

.sk1_skeleton-right {
    flex: 1;
}

.sk1_skeleton-left {
    flex: 2;
    padding-right: 15px;
}

.sk1_flex1 {
    flex: 1;
}

.sk1_flex2 {
    flex: 2;
}

.sk1_skeleton .sk1_line:last-child {
    margin-bottom: 0;
}


.sk1_w40 {
    width: 40% !important;
}

.sk1_w75 {
    width: 75% !important
}

.sk1_circle {
    border-radius: 50% !important;
    height: 50px !important;
    width: 50px;
    margin-left: 10px;
}


/* --------------------------------------------------- */


.sk2_skeleton {
    padding: 5px;
    width: 75%;
    background: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);

}

.sk2_skeleton .sk2_square {
    height: 50px;
    border-radius: 5px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-squares 2s infinite ease-out;
}

.sk2_skeleton .sk2_line {
    height: 25px;
    margin-bottom: 3px;
    border-radius: 2px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
    background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
}

.sk2_skeleton-right {
    flex: 1;
}

.sk2_skeleton-left {
    flex: 2;
    padding-right: 15px;
}

.sk2_flex1 {
    flex: 1;
}

.sk2_flex2 {
    flex: 2;
}

.sk2_skeleton .sk2_line:last-child {
    margin-bottom: 0;
}


.sk2_w40 {
    width: 40% !important;
}

.sk2_w75 {
    width: 75% !important
}

.sk2_circle {
    border-radius: 50% !important;
    height: 60px !important;
    width: 60px;
    margin-left: 10px;
}

@keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}