.main_msg_container {
    height: 95%;
    width: 65%;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chat_header {
    width: 90%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-radius: 15px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* border-bottom: 4px solid rgb(0, 255, 132); */
    border: 1px solid gray;
}



.chat_form {
    width: 90%;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat_form .inp {
    border: none;
    height: 60%;
    width: 90%;
    border: none;
    font-size: 1.2rem;
    color: rgb(55, 55, 55);
}


.chat_header_user_avatar {
    height: 60px;
    width: 60px;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_header_user_avatar img {
    border: 1px solid gold;
    border-radius: 50%;
}

.chat_header_user_name {
    height: 95%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    /* align-items: center; */
    /* background-color: yellow; */
}

.chat_header_user_name h4 {
    /* margin-left: 10px;
    margin-top: 20px; */
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.837)
}

.chat_header_user_name p {
    color: rgba(27, 27, 27, 0.721);
    font-size: 12px;
    font-weight: bold;
}

.chat_form button {
    cursor: pointer;
    border: none;
    width: 10%;
    height: 60%;
}


.message {
    font-family: "Brush Script MT", cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message span p {
    font-size: 8px;
    line-height: 0.4;
    margin-top: 5px;
    text-align: right;
    font-weight: bold;

}

.sender span {
    margin: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(82, 81, 81);
    text-shadow: 0 0 2px white;
}

.sender {
    background-color: #ffffff;
    float: right;
    clear: both;
    margin-left: 150px;
    margin-right: 20px;
    box-shadow: 0 0 4px gray;
}

.receiver {
    background-color: #4fadff;
    float: left;
    clear: both;
    margin-right: 150px;
    margin-left: 20px;
    box-shadow: 0 0 4px gray;
}

.receiver span {
    margin: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);

}


.main_chat_box {
    width: 90%;
    height: 500px;
    background-color: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffffa3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;

}

.main_chat_box::-webkit-scrollbar {
    width: 7px;
}

.main_chat_box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.main_chat_box::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

.main_chat_box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.main_chat_box::-webkit-scrollbar-thumb:active {
    background: #016141;
}

.chat_form button svg {
    font-size: 25px;
}

.chat_form button {
    font-size: 25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chat_form input {
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.chat_form input:focus {
    outline: none;
    /* Remove default focus outline */
}

.emoji-button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;

}

.emoji-button-container .emoji {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}

.emoji-button-container .emoji svg {
    font-size: 1.5rem;
    color: #46462cc8;
    cursor: pointer;
}

.emoji-button-container .emoji .emoji-picker-react {
    position: absolute;
    top: -350px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;

}

.emoji-scroll-wrapper::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;

}

.emoji-scroll-wrapper::-webkit-scrollbar &-thumb {
    background-color: #9a86f3;
}

.emoji-categories button {

    filter: contrast(0);

}

.emoji-search {
    background-color: transparent;
    border-color: #9a86f3;
}

.emoji-group:before {
    background-color: #080420;
}

.input-form-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-items: center;

}

.input-form-container .input-form {
    width: 90%;
}

.emoji-button-container {
    width: 10%;
}

.emoji_pop_main {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.797);
    border-radius: 10px;
    border: 2px solid rgb(90, 237, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emoji_pop_top {
    height: 5%;
    width: 95%;
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;

}

.emoji_pop_top svg {
    cursor: pointer;
}